<!-- sidebar -->
<div id="sidebar" class="col-md-4">
    <!-- search box -->
    <div class="search-box-container">
        <h4>Search</h4>
        <form class="search-post" action="/search" method="get" role="search">
            <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /search box -->
    <!-- recent posts box -->
    <div class="recent-post-container">
        <h4>Recent Posts</h4>
            <% if(recentNews && recentNews.length > 0) { %>
                <% recentNews.forEach(news=> { %>
                    <div class="recent-post">
                        <a class="post-img" href="/single/<%= news._id  %>">
                            <img src="/uploads/<%= news.image  %>" alt="" />
                        </a>
                        <div class="post-content">
                            <h5><a href="/single/<%= news._id  %>"><%= news.title%></a></h5>
                            <span>
                                <i class="fa fa-tags" aria-hidden="true"></i>
                                <a href='/category/<%= news.category.slug  %>'><%= news.category.name  %></a>
                            </span>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                  <%= new Date(news.createdAt).toLocaleDateString('en-GB') %>
                            </span>
                            <a class="read-more" href="/single/<%= news._id  %>">read more</a>
                        </div>
                    </div>
                <% }); %>
            <% } %>


    </div>
    <!-- /recent posts box -->
</div>
<!-- /sidebar -->